// New to Stylus? Check out http://learnboost.github.io/stylus
// Use modern CSS thanks to Autoprefixer: https://github.com/ai/autoprefixer

// Import CSS from "node_modules" and "bower_components"
// thanks to Stylus' "import css" and "paths" options

@import 'prism/themes/prism-okaidia.css'
// Check out "bower_components/prism/themes/" for available themes

body
 
 background : radial-gradient(#F00,#FFF);
 display: block;
 width:384px;
 margin: 50px auto;
 margin:0px;
 padding:0px;
 display: block;
 width: 400px;
 margin: 50px auto;
 font: 20px Monaco,"Courier New","DejaVu Sans Mono";
 h1 : 50px Monaco,"Courier New","DejaVu Sans Mono";
 
 
h2	{
	
	text-align:center;
	color:#F00;
	height:40px;
	font-family:Arial, Helvetica, sans-serif;
	width:273px;
	}

h3 	{
	color:#03F;
	font-family:Arial, Helvetica, sans-serif;
	text-align:right;
	font-weight:bolder;
	background-color:#FF3;
	}

h4 {
    padding-top:13px;
	text-align:justify;
	}
